
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Libre Bodoni', serif;
    font-size: 1.2rem;
}

.container{
    /* height of container inside which everything present */
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    /* linear-gradient changes color from left to right */
    background: linear-gradient(to right, #041308, #0b3317);
}

.left-text{
    /* The flex-basis CSS property sets the initial main size of a flex item */
    flex-basis: 30%;
}

.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}

.subheading{
    color: antiquewhite;
    margin-top: 10px;
    text-align: center;
}

.gallary{
    flex-basis: 50%;
    display: grid;
    /* it gives gap horizontally */
    gap: 8px;
    /* dividing in three coloumn of size 1fr */
    grid-template-columns: repeat(3, 1fr);
    /* giving hieght row wise to all 120px */
    grid-auto-rows: 120px;
}

.box{
    /* bg-size - cover helps to show full image in small box */
    background-size:  cover;
    /* it will show just top part of image */
    background-position: top;
    /* now for text */
    display: flex;
    justify-content: center;
    color: white;
    /* it brings text at center */
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

/* this class wherever present it will take two rows lengths */
/* so mention these class in div to whichever you want to make 2 time bigger */
.row-2{
    grid-row: span 2;
}

/* this class wherever present it will take two columns lengths */
.column-2{
    grid-column: span 2;
}

.box:hover{
    background-color: #999;
    /* before position was top, now if we hover it will convert to centre */
    background-position: center;
}